<h1>Magasins</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th >Nom</th>
      <th >Type</th>
      <th >Source</th>
      <th >Prix</th>
      <th >Nombre</th>
      <th >Detail</th>
  
    </tr>
  </thead>
  <tbody>
    <% @produits.each do |e| %>
      <tr>
        <td><%= e.nom_produit %></td>
        <td><%= e.type_de_produit.type_produit %></td>
        <td><%= e.source.pays %></td>
        <td><%= e.prix %></td>
        <td><%= e.nombre %></td>
        <td></td>
      </tr>
    <% end %>
    
  </tbody>
</table>