

<h1>Magasins</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th >Nom du magasin</th>
      <th >Adresse du magasin</th>
      <th >Franchise</th>
      <th >Venders</th>
      <th >New vender</th>

  
    </tr>
  </thead>
  <tbody>
    <% @magasins.each do |m| %>
      <tr>
        <td><%= m.nom_magasin %></td>
        <td><%= m.adresse_magasin %></td>
        <td><%= m.franchise.try(:nom_entreprise) %></td>
        <td><%= m.vendeur.count %></td>
        <td> <%= link_to "New Vender", new_admin_magasin_vendeur_path(m) %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
