<h1>Admin::Magasin#index</h1>
<p>Find me in app/views/admin/magasin/index.html.erb</p>

<li><%= link_to "Create a new magasin", admin_magasin_new_path %></li>

<h1>Magasins</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th >Nom du magasin</th>
      <th >Adresse du magasin</th>
      <th >Venders</th>
      <th >New vender</th>

  
    </tr>
  </thead>
  <tbody>
    <% @magasins.each do |m| %>
      <tr>
        <td><%= m.nom_magasin %></td>
        <td><%= m.adresse_magasin %></td>
        <td><%= m.vendeur.count %></td>
        <td> <%= link_to "New Vender", new_admin_magasin_vendeur_path(m) %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
