<%= form_for [:admin, @context, @vendeur] do |f| %>

  <div class="form-group">
    <%= f.label :name %><br>
  	<%= f.text_field :name %>
    
    <%= f.label :email %><br>
    <%= f.text_field :email %>

    <%= f.label :password %><br>
    <%= f.text_field :password_confirmation %>
  </div>
 
  <%= f.submit class: "btn btn-primary" %>
<% end %>