


<a><%= link_to "New Type of produit", new_magasin_magasin_type_de_produit_path(@vendeur) %></a>
<h1>Types of produit in magasin <%= @vendeur.magasin.try(:nom_magasin) %></h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th >Nom du type</th>
      <th >Nombre de produit</th>
      <th >Activité</th>
    </tr>
  </thead>
  <tbody>
    <% @types.each do |t| %>
      <tr>
        <td><%= t.type_produit %></td>
        <td><%= t.produit.count %></td>
        <td>
        	<li class = "icon-edit">
        		<%= link_to " Edit", edit_magasin_magasin_type_de_produit_path(t.magasin_id,t)%>
        	</li> &nbsp; &nbsp; &nbsp;
        	<li class = "icon-trash">
        		<%= link_to " Delete", magasin_magasin_type_de_produit_path(t.magasin_id,t), :method => 'delete'%>
        	</li>
    	</td>
      </tr>
    <% end %>
  </tbody>
</table>