<h1>Listing magasins</h1>

<table>
  <thead>
    <tr>
      <th>Nommagasin</th>
      <th>Adresse</th>
      <th>Id franchise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @magasins.each do |magasin| %>
      <tr>
        <td><%= magasin.nomMagasin %></td>
        <td><%= magasin.adresse %></td>
        <td><%= magasin.id_franchise %></td>
        <td><%= link_to 'Show', magasin %></td>
        <td><%= link_to 'Edit', edit_magasin_path(magasin) %></td>
        <td><%= link_to 'Destroy', magasin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Magasin', new_magasin_path %>
