<p id="notice"><%= notice %></p>

<p>
  <strong>Nommagasin:</strong>
  <%= @magasin.nomMagasin %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @magasin.adresse %>
</p>

<p>
  <strong>Id franchise:</strong>
  <%= @magasin.id_franchise %>
</p>

<%= link_to 'Edit', edit_magasin_path(@magasin) %> |
<%= link_to 'Back', magasins_path %>
